# Backend API base URL (no trailing slash)
VITE_BACKEND_URL=http://localhost:5000

# Use local fallback data instead of MongoDB/Cloudinary (true/false)
VITE_USE_LOCAL_DATA=true

# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_d2l0dHktbWF5Zmx5LTQ4LmNsZXJrLmFjY291bnRzLmRldiQ


